#include <zephyr/dt-bindings/gpio/gpio.h>

/*
 * P0.00 bramkuje szyne zasilania czujnikow (STS4x/BMI270/LTR329) przez load
 * switch. Plyta deklaruje to wejscie jako aktywne stanem NISKIM:
 *
 *   sensor_pwr: enable-gpios = <&gpio0 0 GPIO_ACTIVE_LOW>;  (regulator-boot-on)
 *
 * czyli stan niski = szyna WLACZONA. Poprzednia wersja tego pliku wymuszala
 * output-low, wiec faktycznie zasilala czujniki i ich pull-upy I2C - stad staly
 * pobor rzedu ~140 uA. Wymuszamy stan WYSOKI, zeby szyne wylaczyc.
 *
 * Ta aplikacja nie uzywa czujnikow i buduje sie z CONFIG_REGULATOR_FIXED=n,
 * wiec bez hoga nikt tym pinem nie steruje - wejscie enable wisi w powietrzu.
 *
 * UWAGA - konflikt do rozstrzygniecia ze schematem: gpio0 ma na nRF54L15 tylko
 * 5 pinow (ngpios = <5>), a P0.00/P0.01 to piny XL1/XL2 kwarcu 32.768 kHz,
 * ktory plyta konfiguruje przez &lfxo. Jesli kwarc jest obsadzony, sterowanie
 * P0.00 jako GPIO blokuje jego start. Dlatego prj.conf wymusza
 * CONFIG_CLOCK_CONTROL_NRF_K32SRC_RC=y - LFCLK nie potrzebuje wtedy kwarcu i
 * hog na P0.00 jest bezpieczny.
 */
&gpio0 {
	sensor_pwr_off_hog {
		gpio-hog;
		gpios = <0 GPIO_ACTIVE_HIGH>;
		output-high;
	};
};

/* Zeby ewentualne wlaczenie CONFIG_REGULATOR_FIXED=y nie bilo sie z hogiem o P0.00. */
&sensor_pwr {
	status = "disabled";
};
